<div class="breadcrumbs ">
</div>
<div class="row align-items-start ">
  <div class="text-center order-2 col-md-6">
    <img src="/img/about.11b59919bc9776a90b3f.png" alt="" class="img-fluid bg">
  </div>
  <div class="order-md-2 order-1 col-md-6">
    <h2>S.N<span> Contractor in Noida, Lucknow</span></h2>
    <div class="content">
      <p>SN Construction Private Limited established in 2020, earlier it was known as M/s. SN Construction
        (Proprietary/2013), has recently completed Seven years in the construction industry.</p>
      <p>During the journey, we have successfully completed many projects e.g. commercial, residential, Temple, Trust
        Building, Commercial Building, Commercial Complex a healthcare buildings, education structures, pilgrimage sites
        etc. </p>
      <p>We have also completed government structures and many projects under sub-contracting formula. It's time to grow
        and we are pretty sure about our future because we have strength, dedication and enthusiastic team.</p>
      <p>As we know “the experience makes man perfect” and our skilled team and management made it possible to stand out
        in the competitive market. We are also specialized for our on-time resolution, lowest scrap generation, maximum
        output and execution of architectural development. That's true if you wish to design your future, you need to
        work on your efﬁciency. During the period we've worked on it to achieve many goals.</p>
    </div>
  </div>
</div>
