<div id="ourServices"
 class="parallax-section greybg">
    <div class="container"> 
      <div class="section-title">
        <h3>Our Construction Services</h3>
        <p>For outstanding construction result, planning &amp; management is important and with a lack of knowledge, it’s quite tough to manage the work &amp; get the expected results. </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="int text-center services"> 
            <div> <img src="img/1.jpg" alt="Blog Title"></div>
            <div class="post-header">
              <h4><a href="#.">Turnkey Service</a></h4>
              
              <hr>
            </div>
            <p>Mahabir’s work scope is transparent and broad which makes us reliable and client-focused. When working with us you know what you are going for. Our global standards, see-through pricing, reliable services and quality materials are the testimony of the same. </p>
            <a href="#!" id="myBtn1" class="new-btn">Inquiry Now</a>
  
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="int text-center services"> 
            <div> <img src="/img/2.jpg" alt="Blog Title"></div>
            <div class="post-header">
              <h4><a href="#.">Modular Kitchen</a></h4>
              
              <hr>
            </div>
              <p>Noida is one the fastest developing cities in India with projects going all around the city lengths. From residential projects to Industrial ones Noida is undergoing a complete revolution in terms of construction. </p>          
            <a href="#myModal" id="" data-toggle="modal" class="new-btn">Inquiry Now</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="int text-center services"> 
            <div> <img src="/img/3.jpg" alt="Blog Title"></div>
            <div class="post-header">
              <h4><a href="#.">Interior Designing</a></h4>
              
              <hr>
            </div>
             <p>Interior Design provides a better look to your space that defines your way of living. It also ensures the best use of the spaces. With aesthetic &amp; designer layouts Mahabir furnishes the best interior designing services at suitable prices in Gurgaon.</p>
            <a href="#myModal" id="" data-toggle="modal" data-target="#myModal" class="new-btn">Inquiry Now</a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-6">
          <div class="int text-center services"> 
            <div> <img src="/img/4.jpg" alt="Blog Title"></div>
            <div class="post-header">
              <h4><a href="#.">Home/Office Renovation</a></h4>
              
              <hr>
            </div>
             <p>Renovation brings freshness &amp; strength to the building. It makes the atmosphere more beautiful &amp; interesting for working &amp; living. But it’s a quite effort task so, here we are with our best Renovation Team of Gurgaon to bring delicacy &amp; elegance to your space.</p>
            <a href="#myModal" id="" data-toggle="modal" class="new-btn">Inquiry Now</a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-6">
          <div class="int text-center services"> 
            <div> <img src="/img/5.jpg" alt="Blog Title"></div>
            <div class="post-header">
              <h4><a href="#.">Elevation</a></h4>
              
              <hr>
            </div>
             <p>Mahabir Construction is an experienced and trustworthy construction company that provides a wide range of services, including designing and constructing building elevations. </p>
            <a href="#myModal" id="" data-toggle="modal" class="new-btn">Inquiry Now</a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-6">
          <div class="int text-center services"> 
            <div> <img src="/img/6.jpg" alt="Blog Title"></div>
            <div class="post-header">
              <h4><a href="#.">Terrace Design </a></h4>
              
              <hr>
            </div>
             <p>When you need the appropriate terrace designer it can be difficult to find a competent designer in Noida, especially if you want them to assist you in creating the terrace you want.</p>
            <a href="#myModal" id="" data-toggle="modal" class="new-btn">Inquiry Now</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>