
  <div class="container">
    <div class="row">
      <div class="text-center col-md-6"><img src="/img/home-1.d8024c1ff82da841b2b7.png" alt=""
          class="img-fluid bg"></div>
      <div class="d-flex justify-content-center flex-column  col-md-6">
        <h2>About <span>SN Construction</span></h2>
        <div class="content">
          <p>SN Construction, a leading construction company that is revolutionising the meaning of excellence in the
            sector. Our goal as a progressive construction company is to promote a new wave of construction methods that
            go beyond conventional wisdom.</p>
          <p> We will never waver in our unwavering commitment to meeting project deadlines, safety, and environmental
            consciousness.</p>
          <p> Our conviction at SN Construction is that the foundations we painstakingly lay today are the first steps
            towards creating a sustainable future.</p>
        </div>
        <!-- <a class="link-primary" routerLink="/about">Read more <svg
            class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true"
            viewBox="0 0 24 24" data-testid="ArrowRightAltIcon">
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"></path>
          </svg></a> -->
      </div>
    </div>
    <div class="mt-md-5 row">
      <section class="mission ">
        <div class="container">
          <div class="text-center">
            <h2 class="center">Growing a <span>Greener Tomorrow</span></h2><br>
            <p> At SN Construction, we believe in cultivating a sustainable future. For every customer who chooses our
              services, we are committed to planting a tree or plant, contributing to the restoration of our
              environment. Together, we are sowing the seeds of positive change, one customer at a time. Join us in
              making a lasting impact as we grow a greener tomorrow, hand in hand with our valued customers.</p>
          </div>
          <div class="mt-5 row">
            <div class="mission-row col-md-4">
              <div class="card-mission-1"><img src=""
                  alt="Project Image" class="img-fluid"></div>
            </div>
            <div class="mission-row col-md-4">
              <div class="card-mission-2"><img src=""
                  alt="Project Image" class="img-fluid"></div>
            </div>
            <div class="mission-row col-md-4">
              <div class="card-mission-3"><img src=""
                  alt="Project Image" class="img-fluid"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
 
  </div>